dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.hp
*.aux
*~
*.log
.cb
.dir-locals.el
ghc-mod.package-db-stack
*.dyn_hi
*.dyn_o
.ghc.environment.x86_64-linux-8.6.5
dist-newstyle/
default.nix
default.nix.bak
